<% content_for :submenu do %> 
	<% if params[:action] == "index" %>
	<li class="current"><span>Menu list</span></li>
	<% else %>
	<li><%= link_to "Menu list", :controller => "menus", :action => "index" %></li>
	<% end %>
	<% if params[:action] == "new" %>
	<li class="current"><span>Create</span></li>
	<% else %>
	<li><%= link_to "Create", :controller => "menus", :action => "new" %></li>
	<% end %>
	<% if params[:action] == "edit" %>
	<li class="current"><span>Modify</span></li>
	<% end %>
<% end %>
