<% content_for :submenu do %> 
	<% if params[:action] == 'index' %>
	<li class="current"><span>Article List</span></li>
	<% else %>
	<li><%= link_to "Article List", :controller => "posts", :action => "index" %></li>
	<% end %>
	<% if params[:action] == 'new' %>
	<li class="current"><span>Write</span></li>
	<% else %>
	<li><%= link_to "Write", :controller => "posts", :action => "new" %></li>
	<% end %>
	<% if params[:action] == "edit" %>
	<li class="current"><span>Edit</span></li>
	<% end %>
	<li><%= link_to "Category Management", :controller => "categories", :action => "index" %></li>
<% end %>
