<% content_for :submenu do %> 
	<li><%= link_to "Article management", :controller => "posts", :action => "index" %></li>
	<% if params[:action] == 'index' %>
	<li class="current"><span>Category Management</span></li>
	<% else %>
	<li><%= link_to "Category Management", :controller => "categories", :action => "index" %></li>
	<% end %>
	<% if params[:action] == 'new' %>
	<li class="current"><span>Create</span></li>
	<% else %>
	<li><%= link_to "Create", :controller => "categories", :action => "new" %></li>
	<% end %>
	<% if params[:action] == 'edit' %>
	<li class="current"><span>Edit</span></li>
	<% end %>
<% end %>
