<html>
<head>
<script type='text/javascript'>
    jQuery(function($){
        $(".tweet").tweet({
            username: "Nick_Arm",
            join_text: "auto",
            avatar_size: 32,
            count: 3,
            auto_join_text_default: "we said,", 
            auto_join_text_ed: "we",
            auto_join_text_ing: "we were",
            auto_join_text_reply: "we replied to",
            auto_join_text_url: "we were checking out",
            loading_text: "loading tweets..."
        });
    });
</script>
<link href="jquery.tweet.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<script type="text/javascript">
jQuery(function($){
        $("#query").tweet({
          avatar_size: 32,
          count: 4,
          query: "tweet.seaofclouds.com",
          loading_text: "searching twitter..."
        });
      });
</script>
</body>
</html>
