<html>
<head>
<script src="/javascripts/jquery.tweet.js" type="text/javascript"></script>
<script type='text/javascript'>
jQuery(function($){
        $("#query").tweet({
          avatar_size: 32,
          count: 4,
          query: "tweet.seaofclouds.com",
          loading_text: "searching twitter..."
        });
      });

</script>
</head>
<body>


</body>
</head>
