<html>
<head>
<script type='text/javascript'>
jQuery(function($){
        $("#query").tweet({
          avatar_size: 32,
          count: 4,
          query: "tweet.seaofclouds.com",
          loading_text: "searching twitter..."
        });
      });

</script>
</head>
<body>
 <h2>tweets</h2>

</body>
</head>
