<!DOCTYPE html> 
<html> 
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/stylesheets/jquery.mobile-1.0rc2.min.css" />
	<script type="text/javascript" src="/javascripts/jquery.mobile-1.0rc2.min.js"></script>
</head>	
<body>
<div data-role="page"> 
	<div data-role="header">
        </div> 
	<div data-role="content">
        <ul data-role="listview" data-theme="g">
	<li class="ui-li-has-thumb">
        <a href="#" tittle="Posts"/> <%= image_tag("post.png")%> <h3>Posts</h3></a>
        </li>
	</ul>
        </div> 
	<div data-role="footer">
        </div> 
</div> 
</body>
</html>
