<% content_for :submenu do %> 
	<% if params[:action] == 'index' %>
	<li class="current"><span>Page list</span></li>
	<% else %>
	<li><%= link_to "Page list", :controller => "pages", :action => "index" %></li>
	<% end %>
	<% if params[:action] == 'new' %>
	<li class="current"><span>Create</span></li>
	<% else %>
	<li><%= link_to "Create", :controller => "pages", :action => "new" %></li>
	<% end %>
	<% if params[:action] == "edit" %>
	<li class="current"><span>Edit</span></li>
	<% end %>
<% end %>
